:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196f3;
}
body {
  font-family: var(--main-font);
}
.web-logo {
  display: flex;
  text-decoration: none;
  font-style: normal;
  font-family: Raleway;
  font-style: Bold;
  font-size: 26px;
  line-height: 31px;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 3%;
  margin-right: 12px;
}

.Web {
  color: #2196f3;
}

.studio-black {
  color: #000000;
}
.studio-white {
  color: #ffffff;
}

.list {
  list-style: none;
}

.accent:not(last-child) {
  margin-right: 46px;
}

.accent {
  text-decoration: none;
  font-style: Medium;
  font-size: 14px;
  vertical-align: top;
  letter-spacing: 2%;
  color: #212121;
  margin: 0;
}
.first-signature {
  color: #212121;
}
.second-signature {
  color: #757575;
}
.foot {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 2%;
  color: #757575;
}

.accent:hover,
.accent:focus,
.foot:hover,
.foot:focus,
.button-order {
  color: var(--main-color);
}

.button-filtr:hover,
.button-filtr:focus {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

/* stylizacja body */

.main {
  background: #2f303a;
  width: 1200px;
  height: 600px;
  justify-content: center;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  padding-top: 200px;
  margin-bottom: 0;
  margin-top: 0;
}
.button-order {
  background-color: #2196f3;
  display: block;
  height: 50px;
  width: 200px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  margin: auto;
  margin-top: 30px;
}
.button-filtr {
  font-size: 16px;
  line-height: 26px;
  line-height: 139%;
  vertical-align: Top;
  letter-spacing: 3%;
  background-color: #f5f4fa;
}

/* stylizacja footer */

.line {
  font-style: normal;
  background-color: #2f303a;
}
.adress-link {
  font-style: normal;
  color: #ffffff;
}
.footer-link {
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.header-background {
  display: flex;
}
.list {
  display: flex;
}
.section {
  width: 1200px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.foot {
  display: flex;
  padding: 10px;
}
.script {
  justify-content: center;
  width: 270px;
}
.header {
  text-align: center;
}
